# other
log
logs
__pycache__
.vscode 

# python virtual environment
.env

### dataset
data/*

### tests
tests/cpputest-4.0
tests/lib
tests/objs
tests/src
tests/CorpusCleaner_tests
tests/build/*

### results
results/*

### scripts
scripts/icu/*
scripts/doxygen-1.10.0/*
scripts/setup_completed
scripts/jagger-extension

## src
corpus_cleaner/lid.176.bin
corpus_cleaner/ja.arpa.bin
corpus_cleaner/ja.sp.model
corpus_cleaner/simdjson.h
corpus_cleaner/simdjson.cpp
corpus_cleaner/build/*