# other
log
logs
__pycache__
.vscode 

# python virtual environment
.env

### dataset
data/*

### tests
tests/cpputest-4.0
tests/lib
tests/objs
tests/src
tests/CorpusCleaner_tests

### results
results/*